{% extends '_layout/base.twig' %}

{% block hero %}
	{% include '_blocks/hero.twig' with { 
		preHeading: "Error",
		heading: "Page Not Found",
		imageComponent: "short",
		image: term.thumbnail.src,
	} %}
{% endblock %}

{% block content %}

	<main class="container">

		<div class="grid grid-cols-1 gap-2 mb-4">

			<h1>Page not found</h1>

			<p>The page you were looking for isn't available. Please go to the <a href="{{site.url}}">homepage</a> or use the navigation.</p>

		</div>

	</main>
	

{% endblock %}
