{% extends '_layout/base.twig' %}

{% block hero %}
	{% include '_blocks/hero.twig' with { 
		preHeading: "Category",
		heading: term.name,
        imageComponent: "tall",
        image: post.thumbnail.src,
	} %}
{% endblock %}

{% block content %}

	<div class="grid grid-cols-1 gap-8 px-6 py-10">

		{{post.content}}

	</div>

	{% include '_components/filter-rest.twig' %}

    <div class="relative w-full bg-secondary-light white-bg-top">

        <div class="container px-6 py-6 md:py-4 latest-blocks latest-blocks--full">
        
            <div class="flex flex-wrap w-full gap-4 latest-blocks__container">

                <noscript>

                {% for post in posts %}
                    {% include "_components/_atoms/card.twig" with {
                        category : "Category",
                        cardLink: function("get_permalink", post.ID),
                        title : post.title,
                        snippet : "Snippet",
                    } %}
                {% endfor %}

                </noscript> 

            </div>

        </div>

    </div>

	<section class="flex items-center justify-center mt-8 mb-4 latest-news__pagination">

		<div class="latest-news__pagination__nav">

			{% include "_components/pagination.twig" %}
		
		</div>

	</section>

{% endblock %}

