{% extends '_layout/base.twig' %}

{% block hero %}
	{% include '_blocks/hero.twig' with { 
		preHeading: "Category",
		heading: term.name,
	} %}
{% endblock %}

{% block content %}

	{# News Index - Variant 2 #}
	<div class="container py-6 md:py-10">
		<div class="flex flex-col w-full lg:flex-row">

			<div class="order-1 w-full md:w-3/4 md:px-4 lg:px-6 md:order-2">
				<div class="flex flex-wrap">
					{% for post in posts %}
						{% include "_components/_atoms/card.twig" with {
							category : "Category",
							title : post.title,
							snippet : "Snippet",
						} %}
					{% endfor %}
				</div>
			</div>
      
			<div class="p-6 mb-6 bg-gray-200 border border-gray-300 rounded-lg lg:p-8 md:mb-8">
				<span class="block mb-4 tracking-wider text-black uppercase">Categories</span>

				<ul>
					{% for cat in categories %}
						{# @INTEGRATION - check your permalinks to confirm this URL path is correct #}
						<li>
							<a href="{{ cat.link }}" class="block w-full py-1 text-black hover:text-gray-500 focus:text-gray-500">{{ cat.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
