{% extends '_layout/base.twig' %}

{% block hero %}
	{% include '_blocks/hero.twig' with { 
		preHeading: "Category",
		heading: term.name,
	} %}
{% endblock %}

{% block content %}

	{# News Index - Variant 2 #}

	<div class="w-full p-6 bg-white border border-gray-300 rounded-lg lg:py-6 lg:pl-3 lg:px-0 md:mb-8">
		<span class="block mb-4 tracking-wider text-center text-black uppercase h2">Categories</span>

		<div class="embla">
			<div class="embla__viewport">
				<form class="embla__container latest-news__filters__select" name="cat" role="search" method="get" autocomplete="off" action="{{ function('get_permalink', function('get_queried_object_id', current_term )) }}">
					{% for cat in categories %}
						
						<a onclick="getCatValue(this)" value='{{cat.id}}' class="flex-shrink-0 px-5 py-2 mr-3 text-black rounded-full news-filter bg-primary hover:text-gray-500 focus:text-gray-500">{{ cat.name }}</a>
						
					{% endfor %}
				</form>
			</div>
		</div>

	</div>

	{# <div>

	{% for post in posts %}
		{% include "_components/_atoms/card.twig" with {
			category : "Category",
			cardLink: function("get_permalink", post.ID),
			title : post.title,
			snippet : "Snippet",
		} %}
	{% endfor %}

	</div> #}

	<div class="container py-6 md:py-8">
    
        <div class="flex flex-wrap w-full gap-4">

			{% for post in posts %}
				{% include "_components/_atoms/card.twig" with {
					category : "Category",
					cardLink: function("get_permalink", post.ID),
					title : post.title,
					snippet : "Snippet",
				} %}
			{% endfor %}	

        </div>

    </div>

	<section class="flex items-center justify-center mt-8 mb-4">

		{% include "_components/pagination.twig" %}

	</section>

{% endblock %}
