{% extends '_layout/base.twig' %}

{% block hero %}
	{% include '_blocks/hero.twig' with { 
		preHeading: "Article",
		heading: post.title,
		imageComponent: "tall",
		image: post.thumbnail.src,
	} %}
{% endblock %}


{% block content %}

	{# <div class="container flex flex-col my-8 lg:flex-row lg:my-16 lg:space-x-12"> #}
	
	{% include '_components/filter-non-rest.twig' %}
	

	<div class="container relative w-full">

		<main class="flex flex-wrap content-center justify-center w-full">

			<article class="py-6 lg:py-12 md:w-9/12 copy">

				<h1 class="pb-4">{{post.title}}</h1>

				{{post.content}}

			</article>

		</main>

	</div>

{% endblock %}
