{% extends '_layout/base.twig' %}

{% block hero %}
	{% include '_blocks/hero.twig' with { 
		preHeading: "Post",
		heading: post.title,
	} %}
{% endblock %}


{% block content %}

	{# <div class="container flex flex-col my-8 lg:flex-row lg:my-16 lg:space-x-12"> #}
	
	<aside class="sticky top-0 z-10 flex justify-center w-full p-3 overflow-hidden bg-gray-100">
		{% include "_components/sidebar--blog.twig" %}
	</aside>

		<div class="container relative w-full lg:lg:my-16">

		<main class="flex flex-wrap content-center justify-center w-full">

			<article class="w-9/12 copy">

				{{post.content}}

			</article>

		</main>

	</div>

{% endblock %}
