@import "tailwindcss/base";
@import "tailwindcss/components";

@import 'partials/core.css';
@import 'partials/buttons.css';
@import 'partials/cookies.css';
@import 'partials/desktop-nav.css';
@import 'partials/forms.css';
@import 'partials/mobile-nav.css';
@import 'partials/typography.css';

@import "tailwindcss/utilities";

/* Custom CSS Here */

@media (min-width: 1600px) {

    .container-test {
        width: calc(100% - ((100% - 1600px) / 2));
        margin-left: calc((100% - 1600px) / 2)

    }

}


.skew-left { 
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-right: 100px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}