          
{# <span class="rectangle-top"></span>
<span class="rectangle-left"></span> #}

{# Hero Image - Desktop Only #}

{% if imageComponent == "tall" %}
    {% include "_components/picture.twig" with {
        pictureClasses: "w-full w-full h-full",
        source: image,
        lazyload: false,
        breakpoints: {
            "1024px" : {
                w: 1500,
                h: 1000,
                crop: 'center'
            },
            "768px" : {
                w: 1200,
                h: 800,
                crop: 'center'
            },
            "600px" : {
                w: 900,
                h: 500,
                crop: 'center'
            },
            "1px" : {
                w: 700,
                h: 400,
                crop: 'center'
            },
        },
        img: {
            classes: 'w-full h-full object-center object-cover',
            w: 960,
            h: 500,
            crop: 'center',
        }
        }
    %}
{% else %}

{% include "_components/picture.twig" with {
        pictureClasses: "w-full w-full h-full",
        source: image,
        lazyload: false,
        breakpoints: {
            "1024px" : {
                w: 1500,
                h: 500,
                crop: 'center'
            },
            "600px" : {
                w: 900,
                h: 500,
                crop: 'center'
            },
            "1px" : {
                w: 700,
                h: 400,
                crop: 'center'
            },
        },
        img: {
            classes: 'w-full h-full object-center object-cover',
            w: 960,
            h: 500,
            crop: 'center',
        }
        }
    %}

{% endif %}