<div class="flex flex-wrap justify-center">

    <h2 class="w-full text-center uppercase">Categories</h2>

    <div class="embla">
        <div class="embla__viewport">
            <form class="embla__container latest-news__filters__select">
                {% for cat in categories %}
                    
                    <a href="/{{cat.slug}}" value='{{cat.id}}' class="flex-shrink-0 px-5 py-2 mr-3 text-black rounded-full news-filter bg-primary hover:text-gray-500 focus:text-gray-500">{{ cat.name }}</a>
                    
                {% endfor %}
            </form>
        </div>
    </div>

</div>