<div class="relative w-full bg-center bg-cover border-2 hero">
	{% set hero_small = post.thumbnail.src|resize('800') %}
	{% set hero_medium = post.thumbnail.src|resize('1200') %}
	{% set hero_large = post.thumbnail.src|resize('2000') %}
	<style>
		.hero-image {
			background-image: url('{{hero_small}}');
      background-size: cover;
		}
		@media(min-width: 800px) {
			.hero-image {
				background-image: url('{{hero_medium}}');
        background-size: cover;
			}
		}
		@media(min-width: 1200px) {
			.hero-image {
				background-image: url('{{hero_large}}');
        background-size: cover;
			}
		}
	</style>

  <span class="triangle-left"></span>
  <span class="triangle-right"></span>

  <div class="relative w-full my-7">

    <div class="container flex h-128">

      <div class="flex flex-wrap content-center w-6/12 hero-left">
        <p class="h1">8 Interior Design Mood Boards Inspired By Popular Netflix Shows</p>
        <p class="sub-title">Netflix is mostly known for the way it revolutionised streaming, but with the distinctive styling showcased through its original series, many are also taking interior design tips from the brand. </p>
      </div>

      <div class="absolute top-0 right-0 w-6/12 h-128 hero-image">

      </div>

    </div>

  </div>

	{# {% include "_components/picture.twig" with {
    source: post.thumbnail.src,
    lazyload: false,
    breakpoints: {
      "1530px" : {
        w: 1800,
        h: 500,
        crop: 'center'
      },
      "1280px" : {
        w: 1530,
        h: 500,
        crop: 'center'
      },
      "1024px" : {
        w: 1280,
        h: 500,
        crop: 'center'
      },
      "768px" : {
        w: 1024,
        h: 500,
        crop: 'center'
      },
      "640px" : {
        w: 768,
        h: 400,
        crop: 'center'
      },
      "1px" : {
        w: 640,
        h: 640,
        crop: 'center'
      },
    },
    img: {
      classes: '',
      w: 640,
      h: 640,
      crop: 'center',
    }
  }
  %} #}

</div>
