/* ---------------------------------------------------
Embla Carousel Styles
--------------------------------------------------- */

.embla {
    position: relative;
  }
  
  .embla__viewport {
    width: 100%;
    overflow: hidden;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    will-change: transform;
    margin-left: 1rem;
  }

  .embla__slide {
    width: 100%;
    position: relative;
    padding-left: 1rem;
    counter-increment: embla;
  }

  
    .embla__slide {
        flex: 0 0 100%;
      }    
  
  
  @screen md {
    .embla__slide {
        flex: 0 0 50%;
      }    
  }

  @screen lg {
    .embla__slide {
        flex: 0 0 33%;
      }    
  }

  .embla__slide__inner {
    background-color: rgb(40, 44, 52);
    position: relative;
    border-radius: 0.5rem;
    min-height: 200px;
    padding-bottom: 46%;
    font-size: 5rem;
  }
  
  .embla__slide__inner:before {
    color: white;
    font-weight: 300;
    line-height: 1;
    content: counter(embla);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .embla__button {
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .embla__button:not(:disabled) {
    cursor: pointer;
  }
  
  .embla__button:disabled {
     @apply opacity-25; 
  }
  
  /* .embla__button__svg {
    width: 1.5rem;
    height: 1.5rem;
  } */
  
  .embla__button--prev {
    right: 45px;
  }
  
  .embla__button--next {
    right: 5px;
  }
  
  .embla__dots {
    position: absolute;
    margin-top: 2.5rem;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    left: 0;
    right: 0;
    top: 100%;
  }
  
  .embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    border: 0;
    display: flex;
    align-items: center;
    @apply rounded-full;
  }