{#
  Title: Hero
  Description: Hero
  Category: formatting
  Icon: cover-image
  Keywords: hero runner
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: false
#}

<div class="relative md:py-10 hero-section bg-secondary-light">

  <span class="triangle-left-bottom"></span>
  <span class="triangle-right-top"></span>

  <div class="relative z-20 flex flex-col-reverse flex-wrap w-full hero">

    {# <span class="triangle-left"></span> #}
    
    {# <span class="triangle-right-bottom"></span> #}

    <div class="container">

      <div class="w-full py-8 text-white md:w-5/12 xl:w-2/5 md:pr-16 lg:w-4/12 lg:py-16">

        {% include "_components/hero-text.twig" %}

      </div>

    </div>

    <div class="w-full h-full max-h-full overflow-hidden md:top-0 md:right-0 md:w-7/12 md:mx-0 md:absolute lg:w-8/12 xl:w-3/5 md:block hero-image">
      
      {% if imageComponent == "tall" %}
          
        {% for post in latestpost %}

          {# Homepage - Image from latest post #} 
          {% include "_components/hero-image.twig" with {
            image : image,
            imageComponent : "tall",
          } %}

        {% endfor %}
      
      {% else %}
        
        {# Other Pages - Image from featured image OR fallback #} 
        {% include "_components/hero-image.twig" with {
            image : Image(post.thumbnail.src)|resize(400, 200)|tojpg | default(theme.link~"/_assets/images/hero-fallback.jpg"),
            imageComponent : "short",
          } %}

      {% endif %} 

    </div>
    
  </div>

  {# Space for an Ad #} 
  <div class="container relative z-20 pb-10 md:pb-0 md:pt-10">
    <div class="bg-gray-400 h-36"></div>
  </div>

</div>